<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <appSettings>
    <add key="LogUpToLevel" value="2" />
    <add key="TimeLimit" value="10" />
    <add key="BccInit" value="true" />
    <add key="WorldType" value="life" />
  </appSettings>
</configuration>